<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
  <appSettings>
    <add key="pathin" value="P:\USERI5\profid_export" />
    <add key="filefilter" value="*ENGMA*" />
    <add key="pathout1" value="P:\USERI5\profid_export\4500 ENGMATEC1\4500" />
    <add key="pathout2" value="S:\FTP\Engmatec\5180 ENGMATEC2\5180" />
    <add key="pathout3" value="P:\USERI5\profid_export\6252 ENGMATEC3\6252" />
    <add key="pathout5" value="S:\FTP\Engmatec\7164 PRUEF5\7164" />
    <add key="pathouttrash" value="P:\USERI5\profid_export\ENGMA_trash" />
    <add key="indextext1" value="HW_Version          " />
    <add key="indextext2" value="Nummerischer Index  " />
    <add key="indextext3" value="ZKW Artikelnummer   " />
  </appSettings>
</configuration>
